<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZj4_cnyNX0wA5d68KmcYNLkGV-NRIKTU</string>
	<key>GCM_SENDER_ID</key>
	<string>585261067843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pharmeasy.borewell.borewellBillCalculator</string>
	<key>PROJECT_ID</key>
	<string>borewell-calculator</string>
	<key>STORAGE_BUCKET</key>
	<string>borewell-calculator.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585261067843:ios:fd0334d9695cc50266eef6</string>
</dict>
</plist>